@use '../../styles/app.scss';

.container__sidebar {
  max-width: 300px;
  background-color: app.$white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid app.$grey__light;
  border-radius: 6px;
  margin-right: 1rem;
}
.sidebar__title {
  color: app.$purple__grey;
}
.container__scrollMain {
  padding-top: 1rem;
  padding-left: 1.25rem;
}
.categoryList {
  list-style: none;
  padding-left: 0;
}
.categoryList__link {
  text-decoration: none;
}
.categoryList__item {
  color: app.$purple__grey;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  transition: all ease-in-out 75ms;
}
.categoryList__item:hover {
  color: app.$purple__light--extra;
  background-color: app.$purple__primary;
}
