@use '../../styles/variables.scss';

.form-login {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    margin-bottom: 1.5rem;

    .form-input, .form-submit {
      width: 100%;
    }

    .form-input {
      height: 40px;
      border: 2px solid variables.$purple__accent2--secondary;
      border-radius: 4px;
      padding-left: 0.45rem;

      &:focus {
        border: 2px solid variables.$purple__accent--primary;
      }
    }

    .form-submit {
      height: 40px;
      color: variables.$white;
      background-color: variables.$purple__primary;
      border: 1px solid variables.$purple__primary;
      border-radius: 4px;
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }
    }
  }  
}

.alert-error {
  display: inline-block;
  width: 100%;
  padding: 0.55rem 1.5rem;
  border-radius: 4px;
  background-color: #fadad8;
}
