@use './variables';

/************* General Styling *************/
html {
  scroll-behavior: smooth;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}
.section__header,
.section__displayArea,
.section__about,
.section__login {
  padding: 0 3rem;
}
.section__main .container__appSearch,
.section__main .container__appTitle,
.section__main .container__appButtons {
  margin-bottom: 1rem;
}
.section__main .container__appDivider {
  color: variables.$purple__grey;
  margin-bottom: 2rem;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.appDivider__text {
  position: relative;
  display: inline-block;
}
.appDivider__text::before,
.appDivider__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 800%;
  height: 1.1px;
  background: variables.$purple__grey;
}
.appDivider__text::before {
  right: 100%;
  margin-right: 15px;
}
.appDivider__text::after {
  left: 100%;
  margin-left: 15px;
}
.appDivider__text {
  font-weight: 500;
  margin: 0;
}
.container {
  margin-bottom: 3rem;
}
.card--dark {
  background-color: variables.$purple__grey;
  border: 1px solid variables.$purple__accent--primary;
  border-radius: 4px;
}
.card--light {
  background-color: rgb(243 243 254);
  border: 1px solid rgb(101 108 246);
  border-radius: 4px;
}
.page__header {
  line-height: 2.15rem;
}
.btn_secondary {
  padding: 0.765rem 2.35rem;
  border: 2px solid variables.$grey__light;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  color: variables.$grey__medium;
  color: rgb(107, 104, 119);
  background-color: variables.$white;
}
.btn_secondary:hover {
  color: variables.$white;
  border: 2px solid variables.$purple__primary;
  background-color: variables.$purple__primary;
}
.page__contentDescrip {
  font-weight: 500;
}

/************* Header Component Styling *************/
.section__header {
  height: 10vh;
  max-height: 85px;
  min-height: 62.5px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: variables.$purple__light--extra;
  border-bottom: 1px solid variables.$grey__light;
}
.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.navList_items {
  display: inline-block;
}
.mainApp__link {
  margin-right: auto;
  font-size: 1.55rem;
  letter-spacing: -0.085rem;
  color: variables.$black;
  font-weight: 700;
  text-decoration: none;
}
.navList_items > .navList_link {
  color: rgb(107, 104, 119);
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all ease-in-out 100ms;
}
.navList_items > .navList_link:hover {
  border: 1px solid variables.$purple__primary;
  color: variables.$purple__primary;
}
.navList_items > .btn_primary,
.navList_items > .btn_primary:hover {
  padding: 0.6rem 1.35rem;
  border: none;
  color: variables.$white;
  background-color: variables.$purple__primary;
}

/************* Footer Component Styling *************/
.section__footer {
  height: 15vh;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px solid variables.$grey__light;
  background-color: inherit;
}
.row__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials__icon {
  margin-left: 0.5rem;
  font-size: 1.55rem;
  color: variables.$purple__primary;
}
/************* '/' route styling Main Page Styling *************/
.section__main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-size: contain; */
  background-color: variables.$purple__light;
  background-color: #dcdbe5c7;
  background-image: url('../assets/bg-shapes.svg');
}

.header__appTitle {
  font-size: 4.55rem;
  line-height: 5rem;
  letter-spacing: -0.325rem;
  margin: 0;
}
.container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.app__icon {
  font-size: 1.25rem;
  color: variables.$purple__primary;
}
.form__appSearch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // react-select styling overrides
  .react-select-container {
    .react-select__control {
      height: 50px;
      width: 375px;
      border-radius: 4px 0 0 4px;
    }
  }
}
.submitBtn {
  height: 50px;
  width: 155px;
  border-left: none;
  border-radius: 0 4px 4px 0;
  border: none;
  color: variables.$white;
  background-color: variables.$purple__primary;
  font-weight: 700;
}
.submitBtn:hover {
  cursor: pointer;
}
.container__appDesc {
  text-align: center;
}
.container__appDesc > .text__appDesc {
  max-width: 750px;
  color: variables.$purple__grey;
  font-weight: 500;
  font-size: 16.5px;
  margin: 0;
}
.link__actionIcon {
  color: variables.$black;
}
.button__actionIcon {
  font-size: 1.75rem;
  position: absolute;
  bottom: 5vh;
  left: 48vw;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.button__actionIcon {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
.button__actionIcon:nth-child(1) {
  animation: fade-in 0.5s 0.05s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Reactor Input Display area */
.section__displayArea {
  color: variables.$grey__medium;
}
.section__displayArea {
  height: auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: variables.$purple__light--extra;
  border-top: 1px solid variables.$grey__light;
}
.title__reactorName {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}
.subtitle__reactorFullName, .subtitle__reactorUpdatedAt {
  margin-top: 0.35rem;
  margin-bottom: 0.55rem;
}
.subtitle__link {
  font-size: 1.25rem;
  font-weight: 600;
  color: variables.$purple__accent--primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.subtitle__reactorUpdatedAt {
  font-size: 0.875rem;
  font-weight: 500;
}

.container__cards {
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.card__reactorData {
  height: 185px;
  width: 245px;
  padding: 1rem;
  overflow-y: auto;
}
.card__title {
  color: variables.$purple__accent2--secondary;
  color: rgba(101, 108, 246, 0.839);
  margin-top: 0;
}
.subcontainer__cardDetail {
  display: flex;
}
.reactorData__icon {
  color: variables.$purple__accent--primary;
  color: variables.$purple__secondary;
  font-size: 1.55rem;
  margin-right: 1rem;
}
.reactorData__detail {
  color: variables.$purple__accent--primary;
  color: variables.$purple__secondary;
  font-size: 1.55rem;
  font-weight: 600;
  margin: 0 0 0.25rem 0;
}
.container__tables {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 4rem;
  flex-wrap: wrap;
}
/* Modal styling */
.modal__window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
  transition: all 0.15s;
}
.modal__window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal__window > .modal__inner {
  width: 90vw;
  max-width: 1500px;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  border: 1px solid variables.$grey__light;
  border-radius: 4px;
  background: white;
  overflow-y: auto;
}
.modal__close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal__close:hover {
  color: black;
}
/************* '/reactors' route styling Reactors Page Styling *************/
.section__reactors {
  min-height: 100vh;
  padding-top: 6.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: variables.$purple__light--extra;
}
.container__reactors {
  max-width: 1400px;
  margin-top: 3rem;
}
.container__header {
  max-width: 800px;
}
.container__flex {
  max-width: 1400px;
  display: flex;
  padding-top: 2.5rem;
  border-top: 1px solid variables.$grey__light;
}
.col--side {
  width: 33.3333%;
}
.col--main {
  width: 67.6667%;
}
.container__sidebar {
  max-width: 300px;
  background-color: variables.$white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid variables.$grey__light;
  border-radius: 6px;
  margin-right: 1rem;
}
.sidebar__title {
  color: variables.$purple__grey;
}
.container__scrollMain {
  padding-top: 1rem;
  padding-left: 1.25rem;
}
.categoryList {
  list-style: none;
  padding-left: 0;
}
.categoryList__link {
  text-decoration: none;
}
.categoryList__item {
  color: variables.$purple__grey;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  transition: all ease-in-out 75ms;
}
.categoryList__item:hover {
  cursor: pointer;
  color: variables.$purple__light--extra;
  background-color: variables.$purple__primary;
}

.container__cards--all {
  justify-content: space-between;
  gap: 2rem;
}
.card__reactorData--all {
  display: flex;
  flex-direction: column;
  background-color: variables.$white;
  border: 1px solid variables.$grey__light;
  width: 47.5%;
  max-width: 425px;
  min-height: 255px;
  transition: all ease-in-out 75ms;
}
.card__reactorData--all .card__title,
.modal-window .card__title {
  margin-bottom: 0;
  color: variables.$purple__grey;
}
.card__reactorData--all .card__subtitle,
.modal-window .card__subtitle {
  margin-top: 0;
  font-weight: 500;
  color: variables.$purple__accent--primary;
}
.card__reactorData--all:hover {
  background-color: rgb(243 243 254);
  border: 1px solid rgb(101 108 246);
  border-radius: 4px;
}
.link__modal {
  text-decoration: none;
}
.link__modal--button {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  color: variables.$purple__grey;
}
.link__modal--button:hover {
  color: variables.$purple__accent--primary;
}
.card__reactorData--all .card__title:hover {
  color: variables.$purple__accent--primary;
}
.card__reactorProp {
  display: block;
  color: variables.$purple__grey;
}
.card__icon {
  color: variables.$purple__secondary;
}
.tableModal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid variables.$grey__light;
}
.tableModal__title {
  font-size: 1.05rem;
  font-weight: 700;
  width: 25%;
}
// .tableModal__data {
// }

/************* '/about' route styling About Page Styling *************/
.section__about,
.section__login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 6.5rem;
  padding-left: 20%;
  padding-right: 20%;
  // background-image: url('../assets/bg-shapes.svg');
  background-color: variables.$purple__light--extra;
}
.container__desc {
  margin-top: 3rem;
  max-width: 100%;
  width: 100%;
  padding-bottom: 2.5rem;
  align-items: flex-start;
  border-bottom: 1px solid variables.$grey__light;
}
.container__body {
  min-width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid variables.$grey__light;
  background-color: variables.$white;
}
pre {
  padding: 1rem 1rem;
  color: variables.$grey__medium;
  background-color: variables.$white;
  border: 1px solid variables.$grey__light;
  border-radius: 4px;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
pre > span {
  font-weight: 700;
  color: variables.$purple__accent--primary;
}
.list__reactors {
  padding-left: 0;
  width: 100%;
}
.reactors {
  display: block;
}

/************* '/dev' route styling Developer Login Page Styling *************/
.container__login {
  margin-top: 3rem;
  text-align: center;
  align-self: center;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255); */
  border-radius: 12px;
  /* border: 1px solid variables.$grey__light; */
}
/************* Media Queries & Mobile Responsiveness *************/
/* md */
@media screen and (max-width: 950px) {
  /* View all reactors Page */
  .card__reactorData--all {
    width: 85.5%;
  }
}

/* sm */
@media screen and (max-width: 530px) {
  /* General */
  .page__header {
    font-size: 1.875rem;
  }
  /* Header & Nav */
  .section__header {
    padding: 0 1.15rem;
  }
  .section__main {
    padding: 0 1rem;
  }
  .section__header .mainApp__link {
    display: none;
  }
  .navList {
    gap: 1rem;
  }
  .header__appTitle {
    font-size: 3.65rem;
    line-height: 5rem;
    letter-spacing: -0.295rem;
  }
  /* Landing Page search form */

  .form__appSearch {
    flex-direction: column;
    gap: 0.5rem;
    width: 75vw;

    .react-select-container {
      width: inherit;

      .react-select__control {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
  .searchSpinner {
    right: 5vw;
  }
  .submitBtn {
    width: 100%;
    border-radius: 4px;
  }
  .section__displayArea {
    padding: 5vh 1rem 5vh 1rem;
  }
  .section__about,
  .section__login,
  .section__reactors {
    padding: 100px 1rem;
  }
  .container__appDesc > .text__appDesc {
    max-width: 100%;
    font-size: 16px;
  }
  .btn_secondary {
    width: 100%;
  }
  .button__actionIcon {
    bottom: 3.5vh;
    left: 46.5vw;
  }
  /* Reactor display Cards */
  .title__reactorName {
    font-size: 2.15rem;
    line-height: 2.15rem;
  }
  .container__cards {
    gap: 0.55rem;
  }
  .card__reactorData {
    height: 165px;
    width: 170px;
    padding: 1rem;
  }
  .card__title {
    font-size: 1rem;
  }
  .reactorData__icon {
    font-size: 1.15rem;
  }
  .reactorData__detail {
    font-size: 1.15rem;
  }
  /* View all reactors Page */
  .container__flex {
    display: block;
  }
  .col--side {
    width: 100%;
  }
  .col--main {
    width: 100%;
  }
  .container__scrollMain {
    padding-left: 0;
  }
  .container__sidebar {
    max-width: 100%;
    margin-right: 0;
  }
  .card__reactorData--all {
    width: 100%;
    max-width: 100%;
  }
  .tableModal__title {
    width: 100%;
  }
  /* About page */
  .container__body {
    width: 100%;
  }
}
