/************* Root App Variables *************/
/* Base Colors */
$white: #ffffff;
$grey: #e3e3e3;
$grey__light: #d6d6da;
$grey__medium: #242424;
$grey__dark: #25292e;
$black: #000000;
$purple__primary: #473eb3;
$purple__secondary: #5d51e4;
$purple__accent--primary: #656cf6;
$purple__accent2--secondary: #bdc0fa;
$purple__light--extra: #f1f0f3;
$purple__light: #dcdbe5;
$purple__medium: #938fb9;
$purple__grey: #292934;

/************* General Styling *************/
html {
  scroll-behavior: smooth;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}
.section__header,
.section__displayArea,
.section__about,
.section__login {
  padding: 0 3rem;
}
.section__main .container__appSearch,
.section__main .container__appTitle,
.section__main .container__appButtons {
  margin-bottom: 1rem;
}
.section__displayArea {
  height: auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: $purple__light--extra;
  border-top: 1px solid $grey__light;
}
.section__main .container__appDivider {
  color: $purple__grey;
  margin-bottom: 2rem;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.appDivider__text {
  position: relative;
  display: inline-block;
}
.appDivider__text::before,
.appDivider__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 800%;
  height: 1.1px;
  background: $purple__grey;
}
.appDivider__text::before {
  right: 100%;
  margin-right: 15px;
}
.appDivider__text::after {
  left: 100%;
  margin-left: 15px;
}
.appDivider__text {
  font-weight: 500;
  margin: 0;
}
.container {
  margin-bottom: 3rem;
}
.card--dark {
  background-color: $purple__grey;
  border: 1px solid $purple__accent--primary;
  border-radius: 4px;
}
.card--light {
  background-color: rgb(243 243 254);
  border: 1px solid rgb(101 108 246);
  border-radius: 4px;
}
.page__header {
  line-height: 2.15rem;
}
.btn_secondary {
  padding: 0.765rem 2.35rem;
  border: 2px solid $grey__light;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  color: $grey__medium;
  color: rgb(107, 104, 119);
  background-color: $white;
}
.btn_secondary:hover {
  color: $white;
  border: 2px solid $purple__primary;
  background-color: $purple__primary;
}
.page__contentDescrip {
  font-weight: 500;
}
.section__about,
.section__login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 6.5rem;
  padding-left: 20%;
  padding-right: 20%;
  // background-image: url(../assets/bg-shapes.svg);  
  background-color: $purple__light--extra;
}

// Cards
.container__cards {
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.card__reactorData {
  height: 185px;
  width: 245px;
  padding: 1rem;
  overflow-y: auto;
}
.card__title {
  color: $purple__accent2--secondary;
  color: rgba(101, 108, 246, 0.839);
  margin-top: 0;
}
.subcontainer__cardDetail {
  display: flex;
}

// Reactor data 
.reactorData__icon {
  color: $purple__accent--primary;
  color: $purple__secondary;
  font-size: 1.55rem;
  margin-right: 1rem;
}
.reactorData__detail {
  color: $purple__accent--primary;
  color: $purple__secondary;
  font-size: 1.55rem;
  font-weight: 600;
  margin: 0 0 0.25rem 0;
}
.container__tables {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 4rem;
  flex-wrap: wrap;
}

// Modal styling 
.modal__window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
  transition: all 0.15s;
}
.modal__window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal__window > .modal__inner {
  width: 90vw;
  max-width: 1500px;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  border: 1px solid $grey__light;
  border-radius: 4px;
  background: white;
  overflow-y: auto;
}
.modal__close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal__close:hover {
  color: black;
}

