/************* Root App Variables *************/
/* Base Colors */
$white: #ffffff;
$grey: #e3e3e3;
$grey__light: #d6d6da;
$grey__medium: #242424;
$grey__dark: #25292e;
$black: #000000;
$purple__primary: #473eb3;
$purple__secondary: #5d51e4;
$purple__accent--primary: #656cf6;
$purple__accent2--secondary: #bdc0fa;
$purple__light--extra: #f1f0f3;
$purple__light: #dcdbe5;
$purple__medium: #938fb9;
$purple__grey: #292934;
