@use '../../styles/app.scss';

.container__cards--all {
  justify-content: space-between;
  gap: 2rem;
}
.card__reactorData--all {
  display: flex;
  flex-direction: column;
  background-color: app.$white;
  border: 1px solid app.$grey__light;
  width: 47.5%;
  max-width: 425px;
  min-height: 255px;
  transition: all ease-in-out 75ms;
}

.card__reactorData--all .card__title,
.modal-window .card__title {
  margin-bottom: 0;
  color: app.$purple__grey;
}
.card__reactorData--all .card__subtitle,
.modal-window .card__subtitle {
  margin-top: 0;
  font-weight: 500;
  color: app.$purple__accent--primary;
}
.card__reactorData--all:hover {
  background-color: rgb(243 243 254);
  border: 1px solid rgb(101 108 246);
  border-radius: 4px;
}
.card__reactorData--all .card__title:hover {
  color: app.$purple__accent--primary;
}
.card__reactorProp {
  display: block;
  color: app.$purple__grey;
}
.card__icon {
  color: app.$purple__secondary;
}